{% extends "layout/default.html" %}

{% block content %}

<div class="row appDetails">
  <img id="appicon" src="/assets/img/icon_128.png" class="col-md-2 col-md-offset-2" />
  <div class="col-lg-4">
    <h1>{{ manifest.name }}</h1>
    <p id="authorname"></p>
    <p>{{ manifest.description }}</p>
    <button id="installButton" disabled="disabled" class="btn btn-default btn-block">Install</button>
  </div>
</div>

<script type="text/javascript">
 var apps = navigator.apps || navigator.mozApps,
 installsuccess = function () {
   console.log("App installed", this.result);
   $("#installButton").attr("disabled", "disabled").html("Installed");
 },
 installerror = function () {
   console.log("Install failed", this.error);
   alert('Installation Failed. Error: ' + this.error.name);
 };

 if (apps) {
   var baseappurl = "{{ config.SITE_URL }}/api/apps/{{ appId }}";
   var manifesturl = baseappurl + "/manifest.webapp";
   var iconurl = baseappurl + "/icon.png";

   $.getJSON(manifesturl).done(function (manifest) {

     var check = apps.checkInstalled(manifesturl);

     check.onsuccess = function () {

       if (!check.result) {

         {% if manifest.package_path %}
         $("#appicon").attr('src', iconurl);
         $("#authorname").append(" - " + manifest.developer.name);
         $("#installButton").removeAttr('disabled').bind('click', function (evt) {
           evt.preventDefault();

           var install = apps.installPackage(manifesturl);

           install.onsuccess = installsuccess;
           install.onerror = installerror;
         });

         {% else %}
         $("#installButton").removeAttr('disabled').bind('click', function (evt) {
           evt.preventDefault();

           var install = apps.install(manifesturl);

           install.onsuccess = installsuccess;
           install.onerror = installerror;
         });

         {% endif %}

       } else {
         $("#installButton").attr("disabled", "disabled").html("Installed");
       }

     }

   });


 }

</script>

{% endblock %}
