{% extends "layout/default.html" %}

{% block content %}

<h1>Upload a packaged app</h1>

<form id="generator-form-packaged" class="form-horizontal" role="form" enctype="multipart/form-data" action="/api/apps/createpackaged" method="POST">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label class="sr-only" for="item-packagefile">Package file (.zip)</label>
            <input type="file" class="" id="item-packagefile" name="packagefile">
        </div>
        <div class="form-group">
            <input class="action-button crossfade" type="submit" value="Create App">
        </div>
    </div>
</form>

{% endblock %}
