{% extends "layout/default.html" %}

{% block content %}

<h1>Host your own Firefox OS app</h1>

<p>We will host your app temporarily for 7 days for you to test drive your app on any Firefox OS
    device.</p>

<form id="generator-form" class="form-horizontal" role="form">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label class="sr-only" for="item-app-name">App Name</label>
            <input type="text" class="" id="item-app-name" placeholder="App Name" name="name"
                required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="item-app-description">App Description</label>
            <input type="text" class="" id="item-app-description" placeholder="Short app description" name="description" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="item-webapp-url">Webapp URL</label>
            <input type="text" class="" id="item-url" placeholder="Webapp URL" name="url" required>
        </div>
        <div class="form-group">
            <input id="generator-submit" class="action-button crossfade" type="submit" value="Create App">
        </div>
    </div>
</form>
<div id="submission-toast" class="alert alert-warning">
    <p>Yay! We have created an <a href="{appurl}">app for you</a>. You can test drive
    this app on any Firefox OS device for the next 7 days.</p>
    <p>If you find that your app needs more polish, count on us to help you!</p>
    <form id="request-form" class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="item-email">Email</label>
            <input type="text" id="item-email" placeholder="Email" name="email" required>
        </div>
        <div class="form-group">
            <input id="request-submit" class="action-button" type="submit" value="Get in touch!">
        </div>
    </form>
    <div id="request-success" class="hidden"><p>We've got it! <em>Thanks!</em></p></div>
    <p class="small">Alternatively, you can download your <a href="{manifesturl}">app's <em>manifest</em></a>,
         and handcraft it</a>.</p>
</div>
<div id="failure-toast" class="alert alert-danger">
    Life is too short to fire blanks... Please <b class="request-again">fill-up the fields</b>!
</div>


<form id="generator-form-packaged" class="form-horizontal" role="form" enctype="multipart/form-data" action="api/apps/createpackaged" method="POST">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label class="sr-only" for="item-app-name">App Name</label>
            <input type="text" class="" id="item-app-name" placeholder="App Name" name="name"
                required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="item-app-description">App Description</label>
            <input type="text" class="" id="item-app-description" placeholder="Short app description" name="description" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="item-packagefile">Package file (.zip)</label>
            <input type="file" class="" id="item-packagefile" name="packagefile">
        </div>
        <div class="form-group">
            <input id="generator-submit" class="action-button crossfade" type="submit" value="Create App">
        </div>
    </div>
</form>

{% endblock %}
